@import url("./blocks/app.css");
@import url("./blocks/header.css");
@import url("./blocks/navigation.css");
@import url("./blocks/footer.css");
@import url("./blocks/main.css");
@import url("./blocks/search.css");
@import url("./blocks/preloader.css");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

button,
input {
  font-family: inherit;
}

a {
  color: inherit;
}
